server:
  port: 8088

spring:
  cloud:
    config:
      import-check:
        enabled: false

  application:
    name: espacoFisico-ms

  datasource:
    url: jdbc:postgresql://localhost:5435/db_espacoFisico-ms
    username: postgres
    password: "@Lagosta123"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
